{
    admin off
}

e-ticketing-mocha.my.id:443 {
    tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem

    encode zstd gzip

    root * public/

    frankenphp {
        worker public/index.php
    }

    file_server
}